<configuration>

    <!--
    slf4j levels: TRACE DEBUG INFO WARN ERROR
    https://mkyong.com/logging/logback-xml-example/
    http://logback.qos.ch/manual/layouts.html#conversionWord
    -->

    <property name="DEV_HOME" value="/var/opt/archie/enhabsor/logs" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <charset>UTF-8</charset>
            <layout class="ch.qos.logback.classic.PatternLayout">
                <Pattern>
                    %date{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{5} %method - %msg%n
                </Pattern>
            </layout>
        </encoder>
    </appender>

    <appender name="FILE-AUDIT" class="ch.qos.logback.core.rolling.RollingFileAppender">

        <file>${DEV_HOME}/archie.log</file>

        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <charset>UTF-8</charset>
            <layout class="ch.qos.logback.classic.PatternLayout">
                <Pattern>
                    %date{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{5} %method - %msg%n
                </Pattern>
            </layout>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${DEV_HOME}/archived/archie.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!-- each file should be at most 100MB, keep 60 days worth of history, but at most 20GB -->
            <maxFileSize>100MB</maxFileSize>
            <maxHistory>60</maxHistory>
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>

    </appender>

    <logger name="org.hilel14.archie.enhabsor" level="info" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE-AUDIT"/>
    </logger>

    <root level="error">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE-AUDIT"/>
    </root>

</configuration>
